JWT_SECRET=BI_MAT
RABBITMQ_URL=amqp://admin:admin123@some-rabbit:5672
RABBITMQ_DURABLE=false
PRODUCT_QUEUE=product_queue
USER_QUEUE=user_queue
ORDER_QUEUE=order_queue
SHIPPING_QUEUE=shipping_queue
NOTIFY_QUEUE=notify_queue

LOCAL_DATABASE_URL_POSTGRESQL=postgresql://postgres:admin123@some-postgres:5432/db_food
REDIS_HOST=some-redis
REDIS_PORT=6379
REDIS_PASSWORD=admin123
REDIS_TTL=5000

EMAIL=
EMAIL_TOKEN=

BAEMIN_ENV=local
ELASTIC_VERSION=8.15.0
PROMETHEUS_VERSION=v2.53.1
GRAFANA_VERSION=11.1.3
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
